<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title id="senate">Senate</title>
</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <div>
                <img src="imagenes/LOGOTGIF.jpg" alt="logo" class="col-3">
            </div>
            <div class="col-1">
                <a href="info@tgif.com">info@tgif.com</a>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light col-12 border border-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Congress 113
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="house.html">House</a>
                                <div class="dropdown-divider"></div>
                                <a href="senate.html">Senate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Attendance
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="house_attendance.html">House</a>
                                <div class="dropdown-divider"></div>
                                <a href="senate_attendance.html">Senate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Party Loyalty
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="house_partyLoyalty.html">House</a>
                                <div class="dropdown-divider"></div>
                                <a href="senate_partyLoyalty.html">Senate</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col m-3">
                <h2>Senators</h2>
                <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label><input type="checkbox" v-on:change="filtrar()" name="party" v-model="selectedPartys" value="D" id="D" element checked>Democrat</label>
                <label><input type="checkbox" v-on:change="filtrar()" name="party" v-model="selectedPartys" value="R" id="R" element checked>Republican</label>
                <label><input type="checkbox" v-on:change="filtrar()" name="party" v-model="selectedPartys" value="I" id="I" element checked>Independent</label>
            </div>
            <form class="col" name="filter" id="stateFilter" action="" method="">
                <select id="states" class="filter" v-on:change="filtrar()" v-model:value="selectedState">
                    <option value="All">All</option>
                    <option v-for="states in estadosFiltered" name="state" v-bind:value="states">{{states}}</option>
                </select>
            </form>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Party</th>
                        <th>State</th>
                        <th>Seniority</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="miembros in membersFiltered">
                        <td>{{miembros.first_name}} {{miembros.middle_name}} {{miembros.last_name}}</td>
                        <td>{{miembros.party}}</td>
                        <td>{{miembros.state}}</td>
                        <td>{{miembros.seniority}}</td>
                        <td>{{miembros.votes_with_party_pct}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-1 mb-2 bg-light text-dark border border-dark">
                    <p class="row justify-content-center">2016 TGIF | All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="js/congress113-senate.js"></script>-->
    <script src="js/main_senate.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
